body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

.navbar {
    background: #6ab446;
    padding-left: 20px;
}

.nav-link,
.navbar-brand {
    color: #fff !important;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    height: 970px;
    background-image: url("images/header-background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}